* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    touch-action: none;
}

/* Opening Movie Animation Part 1 */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #b4b4b4;
}

.inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1;
}

.outer-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    height: 580px;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1;
}

.crosshair1 {
    position: absolute;
    border: 2px solid;
    width: 100%;
    inset: 1;
    color: black;
    z-index: 2;
}

.crosshair2 {
    position: absolute;
    border: 2px solid;
    height: 100%;
    color: black;
    z-index: 2;
}

.sweeping-gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150dvmax;
    height: 150dvmax;
    border-radius: 50%;
    background: conic-gradient(var(--loader-color) var(--angle), transparent 0deg);
    z-index: 0;
}

.countdown {
    position: absolute;
    font-size: 10rem;
    z-index: 2;
    pointer-events: none;
    font-family: 'limelight'
}

