* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    touch-action: none;
}

/* Opening Movie Animation Part 1 */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

.translate-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%;
    background-color: #b4b4b4;
    z-index: 1; 
}


.translate-right {
    position: absolute;
    top: 0;
    right: 0; 
    width: 50%; 
    height: 100%;
    background-color: #b4b4b4;
    z-index: 1;
}

.inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 3;
}

.outer-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    height: 580px;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 3;
}

.crosshair1 {
    position: absolute;
    border: 2px solid;
    width: 100%;
    inset: 1;
    color: black;
    z-index: 3;
}

.crosshair2 {
    position: absolute;
    border: 2px solid;
    height: 100%;
    color: black;
    z-index: 3;
}

.sweeping-gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150dvmax;
    height: 150dvmax;
    border-radius: 50%;
    background: conic-gradient(var(--loader-color) var(--angle), transparent 0deg);
    z-index: 2;
}

.countdown {
    position: absolute;
    font-size: 10rem;
    z-index: 3;
    pointer-events: none;
    font-family: 'limelight'
}

h1 {
    text-align: center;
}

/* Opening Movie Animation Part 2 */


.hide-loader2 {
    display: none;
}
    


.loader2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    height: 100vh;
    width: 100vw;
    place-items: center;
}

.bg-swapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

}

.holder1, .holder2, .holder3, .holder4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    position: absolute;
}

.holder1 {
    visibility: visible;
    z-index: 1;
}

.holder2 {
    visibility: hidden;
    z-index: 2;
}

.holder3 {
    visibility: hidden;
}

.holder4 {
    visibility: hidden;
}

.bg-effect {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 420px;
	height: 27vh;
	background: papayawhip;
	border-radius: 5px;

}

.holder-mask {
    height: 25vh;
    width: auto;
    overflow: hidden;
    clip-path:polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
}

.image-effect {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.image-effect.two {
    height: 30vh
}

.image-effect.four {
    height: 27vh;
}

.image-effect-eight {
    height: 30vh;
}

 .h2-hider1, .h2-hider2, .h2-hider3, .h2-hider4 {
    text-align: center;
    transform: translateY(20vh);
    font-family: 'Yellowtail', sans-serif;
    font-size: 3rem;
 }

.h2-hider1 {
    display: visible;
    letter-spacing: 3px;
}

 .h2-hider2 {
    display: none;
    letter-spacing: 3px;
 }

  .h2-hider3 {
    display: none;
    letter-spacing: 3px;
 }

  .h2-hider4 {
    display: none;
    letter-spacing: 3px;
 }



 /*Movie Animation Part 3*/

 .letter-splitter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
 }

 .letter-splitter.top {
    clip-path: inset(0 0 50% 0);
    display: inline-block;
 }

 .letter-splitter.bottom {
    clip-path: inset(50% 0 0 0);
    display: inline-block;
 }

 .letter-mask {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: black;
    z-index: 1;
 }

 .letter-mask-h2 {
    color: white;
    font-size: 6.5rem;
    pointer-events: none;
 }

 .letter {
    display: inline-block;
 }

 .strikethrough {
    position: absolute;
    background-color: white;
    height: 4px;
    top: 50%;
    left: 0%;
    z-index: 2
 }




 /* Landing Page */

 #landing-page {
    background-color: grey;
    height: 100vh;
    width: 100vw;
    display: none;
    grid-template-rows: auto 1fr;
    overflow: hidden;
 }

 .h2-cleveland, .h2-miami, .h2-la {
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
 }

 .h2-cleveland {

 }

 .h2-miami {

 }

 .h2-la {
    
 }

 .card-container {
    display: flex;
    gap: 30px;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
 }

 .cards {
    background-color: red;
    height: 55vh;
    align-self: center;
    border-radius: 10px;
    width: 22rem;
    position: absolute;
    transform-origin: 50% 150%;
    box-shadow: 5px 5px 6px black;
 }

 .cards.first-stint {
    transform: translateX(-100px);
    z-index: 3;
 }

 .cards.miami {
    transform: translateX(-50px);
    z-index: 2;
 }

 .cards.second-stint {
    transform: translateX(-0px);
    z-index: 1;
 }

 .cards.lakers {
    transform: translateX(50px);
    z-index: 0;
 }


 .top-half {
    background-color: black;
    border-radius: 10px;
 }

 .top-half {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .top-half, .bottom-half {
    height: 50%;
    width: 100%;
  
 }

 .bottom-half {
    display: block;
    padding-top: 5px;
 }

 .card-description {
    text-align: center;
    padding-top: 5px;
    margin: 0 5px
 }



 /* Media Query For Animation Part 1 */

@media only screen and (max-width: 768px) {
    .inner-circle {
        width: 300px;
        height: 300px;
    }

    .outer-circle {
        width: 400px;
        height: 400px;
    }
}


/* Media Query For Animation Part 2 */

@media only screen and (max-width: 768px) {
    .holder1, .holder2, .holder3, .holder4 {
        grid-template-columns: 1fr; 
        width: 100vw;
        justify-items: center; 
        top: 50%;
        transform: translateY(-50%);
    }

   
    .bg-effect:nth-child(2) {
        display: none;
    }
}



/* Media Query For Animation Part 3 */

@media only screen and (max-width: 768px) {
    .letter-mask-h2 {
        font-size: 4rem
    }

    .strikethrough {
        height: 3.5px;
    }
}



/* Media Query For Landing Page */

@media only screen and (max-width: 768px) {

}