* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    touch-action: none;
}

/* Opening Movie Animation Part 1 */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

.translate-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%;
    background-color: #b4b4b4;
    z-index: 1; 
}


.translate-right {
    position: absolute;
    top: 0;
    right: 0; 
    width: 50%; 
    height: 100%;
    background-color: #b4b4b4;
    z-index: 1;
}

.inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 3;
}

.outer-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    height: 580px;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 3;
}

.crosshair1 {
    position: absolute;
    border: 2px solid;
    width: 100%;
    inset: 1;
    color: black;
    z-index: 3;
}

.crosshair2 {
    position: absolute;
    border: 2px solid;
    height: 100%;
    color: black;
    z-index: 3;
}

.sweeping-gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150dvmax;
    height: 150dvmax;
    border-radius: 50%;
    background: conic-gradient(var(--loader-color) var(--angle), transparent 0deg);
    z-index: 2;
}

.countdown {
    position: absolute;
    font-size: 10rem;
    z-index: 3;
    pointer-events: none;
    font-family: 'limelight'
}

h1 {
    text-align: center;
}

/* Opening Movie Animation Part 2 */


.hide-loader2 {
    display: none;
}


.loader2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    height: 100vh;
    width: 100vw;
    place-items: center;
}

.bg-swapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

}

.holder1, .holder2, .holder3, .holder4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    position: absolute;
}

.holder1 {
    visibility: visible;
    z-index: 1;
}

.holder2 {
    visibility: hidden;
    z-index: 2;
}

.holder3 {
    visibility: hidden;
}

.holder4 {
    visibility: hidden;
}

.bg-effect {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 420px;
	height: 27vh;
	background: papayawhip;
	border-radius: 5px;

}

.holder-mask {
    height: 25vh;
    width: auto;
    overflow: hidden;
    clip-path:polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
}

.image-effect {
    height: 25vh;
    width: 43vw;
    border-radius: 5px;
}

.image-effect.two {
    height: 30vh
}

.image-effect.four {
    height: 27vh;
}

.image-effect-eight {
    height: 30vh;
}

 .h2-hider1, .h2-hider2, .h2-hider3, .h2-hider4 {
    text-align: center;
    transform: translateY(20vh);
    font-family: 'Yellowtail', sans-serif;
    font-size: 3rem;
 }

.h2-hider1 {
    display: visible;
    letter-spacing: 3px;
}

 .h2-hider2 {
    display: none;
    letter-spacing: 3px;
 }

  .h2-hider3 {
    display: none;
    letter-spacing: 3px;
 }

  .h2-hider4 {
    display: none;
    letter-spacing: 3px;
 }



 /*Movie Animation Part 3*/

 .letter-mask {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: black;
    z-index: 1;
 }

 .letter-mask-h2 {
    color: white;
    font-size: 6.5rem;
 }

 .letter {
    display: inline-block;
 }

 .strikethrough {
    position: absolute;
    background-color: white;
    height: 5px;
    top: 50%;
    left: 0%;
    z-index: 2
 }



@media only screen and (max-width: 768px) {
    .inner-circle {
        width: 300px;
        height: 300px;
    }

    .outer-circle {
        width: 400px;
        height: 400px;
    }
}